<app-header></app-header>
<div class="home">
<h2>Білл Гейтс казав:</h2>
<div class="quote">
    <q>Patience is a key element of success</q><br>
    <q>If you think your teacher is tough, wait till you get boss</q><br>
    <q>Life is not fair — get used to it!</q><br>
    <q>Success is a lousy teacher. Це seduces smart people in thinking they can't lose</q><br>
    <q>Be nice to nerds..</q><br>
</div>
<div>
    <img src="../../assets/gates-7584115_640.png" alt="Bill Gates" width="300">
    <p>Ві́льям Ге́нрі Гейтс III (англ. William Henry 'Bill' Gates III; нар. 28 жовтня 1955, Сіетл, США) — американський бізнесмен, інвестор, письменник, філантроп, засновник корпорації Майкрософт, співголова Фонду Білла і Мелінди Гейтсів.[8][9] Протягом кар'єри в Microsoft, Гейтс займав позиції голови ради директорів, CEO та головного архітектора[en], одночасно до травня 2014 також будучи найбільшим акціонером.

        Microsoft був створений Гейтсом і Полом Алленом в 1975 і став найбільшою компанією з розробки програмного забезпечення для ПК.[10][a] Гейтс керував компанією як головний виконавчий директор, поки не залишив цю посаду в січні 2000 року, зостаючись головою ради директорів і створивши для себе посаду головного архітектора.[13]
        
        У червні 2006 Гейтс оголосив, що він переходитиме з повної на часткову зайнятість у Microsoft і працюватиме повний робочий день у Фонді Білла і Мелінди Гейтсів, заснованому у 2000.[14] Поступово він передав свої обов'язки Рею Оззі[en] та Крейгу Манді[en].[15] Він покинув посаду голови Microsoft у лютому 2014 і прийняв позицію технологічного радника, аби підтримати новообраного виконавчого директора Сатья Наделла.</p>
</div>
<diV>
    <h4>Дізнатися більше ви можете за наступними посиланнями:</h4>
    <ul>
        <li> <a href="https://en.wikipedia.org/wiki/Bill_Gates">https://en.wikipedia.org/wiki/Bill_Gates</a></li>
        <li> <a href="https://www.gatesnotes.com/">https://www.gatesnotes.com/</a></li>
    </ul>
</diV>
</div>
<app-footer></app-footer>